name: "Terraform GCP CI"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  terraform-check:
    name: "Check, Validate & Plan"
    runs-on: ubuntu-latest
    
    # On définit la clé Google au niveau du Job pour qu'elle soit disponible partout
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        # Cette étape échouera si tu n'as pas fait 'terraform fmt' localement
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        # Le Plan permet de voir ce que GCP va créer sans rien payer pour l'instant
        run: terraform plan